---
http_interactions:
- request:
    method: post
    uri: https://esputnik.com/api/v1/event
    body:
      encoding: UTF-8
      string: '{"eventTypeKey":"test","keyValue":"test@example.com","params":[{"name":"foo","value":"bar"}]}'
    headers:
      Authorization:
      - Basic d2ViZGV2b3BzQGJ1c2Zvci5jb206Szc0M3NmQTgzMjQ3Mg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Jan 2019 16:07:27 GMT
recorded_with: VCR 4.0.0
