---
http_interactions:
- request:
    method: put
    uri: https://esputnik.com/api/v1/contact/564407320
    body:
      encoding: UTF-8
      string: '{"contact":{"channels":[{"type":"email","value":"test123@example.com"},{"type":"sms","value":"+79160001122"}],"fields":[{"id":98748,"value":"ж"}]},"groups":null,"formType":null}'
    headers:
      Authorization:
      - Basic d2ViZGV2b3BzQGJ1c2Zvci5jb206Szc0M3NmQTgzMjQ3Mg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: Contact with id='564407320' has been updated
  recorded_at: Wed, 30 Jan 2019 15:02:33 GMT
recorded_with: VCR 4.0.0
